<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>/</title>
    <style>
        ul li a {text-decoration: none;}
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Hello Spring</h1>
            <p>Membership Menu</p>
            <ul>
                <li><a href="/members/new">Sign Up</a></li>
                <li><a href="/members">Member list</a></li>
            </ul>
        </div>
    </div>
</body>
</html>